.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code-block-figure-wrapper {
  border: 1px solid purple;
  margin: 0;
  border-radius: 4px;
  width: fit-content;
  overflow-x: auto;
  max-width: 80%;
}

.code-block-figure {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid purple;
  padding: 8px 16px;
  margin: 0;
  background: rgb(143, 145, 192);
  color: rgb(52, 51, 51);
  align-items: center;
}

.header-left {
  display: flex;
  gap: 8px;
}

.copy-btn {
  margin-left: auto;
}

pre {
  margin: 0;
  padding: 8px 16px;
  white-space: pre !important;
  overflow-x: auto;
}

.highlight {
  background-color: #4d5389;
  border-left: 4px solid #ffcc00;
  margin-left: -4px;
}

button {
  background: transparent;
  border: 0.5px solid gray;
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
code {
  counter-reset: step;
  counter-increment: step 0;
  background: transparent;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
