.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code-block-figure-wrapper {
  border: 1px solid #e6e6e6;
  margin: 0;
  border-radius: 4px;
  width: fit-content;
  overflow-x: auto;
  max-width: 80%;
}

.code-block-figure {
  margin: 0;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9e9e9;
  padding: 8px 16px;
  margin: 0;
  background: linear-gradient(180deg, #fbfbfc 0%, #f2f3f4 100%);
  color: #6b6b6b;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 8px;
  color: #6b6b6b;
}

.copy-btn {
  margin-left: auto;
  background: transparent;
  border: 0.5px solid #d6d6d6;
  align-items: center;
  justify-content: center;
  padding: 4px;
  line-height: 0;
}

.copy-btn svg {
  display: block;
  width: 24px;
  height: 24px;
  color: #9d9c9c;
}

.copy-btn:hover {
  background-color: #e6e6e6;
}

pre {
  margin: 0;
  padding: 8px 16px;
  white-space: pre !important;
  overflow-x: auto;
}

.highlight {
  background-color: #4d5389;
  border-left: 4px solid #ffcc00;
  margin-left: -4px;
}

.highlighted-code .line {
  transition: background-color 100ms ease;
}

.highlighted-code .line:hover {
  background-color: rgb(82, 93, 112);
}

/* https://github.com/shikijs/shiki/issues/12 */
pre code {
  white-space: pre-wrap;
  font-size: 16px;
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
code {
  counter-reset: step;
  counter-increment: step 0;
  background: transparent;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
